/straight/build-cache.el
/straight/repos/doom-modeline/
/straight/repos/Fill-Column-Indicator/
/straight/repos/Try/
/straight/repos/a.el/
/straight/repos/ace-window/
/straight/repos/all-the-icons-ivy/
/straight/repos/all-the-icons.el/
/straight/repos/avy/
/straight/repos/aweshell/aweshell.gif
/straight/repos/beacon/
/straight/repos/cl-lib/
/straight/repos/clipmon/
/straight/repos/company-mode/
/straight/repos/company-shell/
/straight/repos/csv-mode/
/straight/repos/dash.el/
/straight/repos/deadgrep/
/straight/repos/dired-plus/
/straight/repos/dotfiles/
/straight/repos/elisp-refs/
/straight/repos/emacs-async/
/straight/repos/emacs-cherry-blossom-theme/
/straight/repos/emacs-company-jedi/
/straight/repos/emacs-ctable/
/straight/repos/emacs-dashboard/
/straight/repos/emacs-deferred/
/straight/repos/emacs-epc/
/straight/repos/emacs-fish/
/straight/repos/emacs-htmlize/
/straight/repos/emacs-jedi/
/straight/repos/emacs-kv/
/straight/repos/emacs-memoize/
/straight/repos/emacs-python-environment/
/straight/repos/emacs-request/
/straight/repos/emacs-w3m/
/straight/repos/emacs-which-key/
/straight/repos/epkgs/
/straight/repos/epl/
/straight/repos/esh-autosuggest/
/straight/repos/eshell-up/
/straight/repos/esxml/
/straight/repos/evil-collection/
/straight/repos/evil-org-mode/
/straight/repos/evil/
/straight/repos/exec-path-from-shell/
/straight/repos/eyebrowse/
/straight/repos/f.el/
/straight/repos/flycheck/
/straight/repos/frecency.el/
/straight/repos/general.el/
/straight/repos/gnu-elpa-mirror/
/straight/repos/goto-chg/
/straight/repos/helpful/
/straight/repos/hide-comnt/
/straight/repos/highlight-indent-guides/
/straight/repos/highlight-parentheses.el/
/straight/repos/hl-todo/
/straight/repos/ht.el/
/straight/repos/hydra/
/straight/repos/iedit/
/straight/repos/inf-ruby/
/straight/repos/keychain-environment/
/straight/repos/let-alist/
/straight/repos/lispy/
/straight/repos/lispyville/
/straight/repos/loop.el/
/straight/repos/magit/
/straight/repos/markdown-mode/
/straight/repos/melpa/
/straight/repos/multi-term/
/straight/repos/multiple-cursors.el/
/straight/repos/nnnotmuch/
/straight/repos/no-littering/
/straight/repos/notmuch/
/straight/repos/org-bullets/
/straight/repos/org-journal/
/straight/repos/org-mime/
/straight/repos/org-recent-headings/
/straight/repos/org-super-agenda/
/straight/repos/org-web-tools/
/straight/repos/org/
/straight/repos/org2jekyll/
/straight/repos/page-break-lines/
/straight/repos/pandoc-mode/
/straight/repos/pkg-info.el/
/straight/repos/powershell.el/
/straight/repos/projectile/
/straight/repos/puppet-mode/
/straight/repos/rainbow-delimiters/
/straight/repos/rainbow-mode/
/straight/repos/ripgrep.el/
/straight/repos/robe/
/straight/repos/rubocopfmt.el/
/straight/repos/s.el/
/straight/repos/seq/
/straight/repos/shrink-path.el/
/straight/repos/spinner/
/straight/repos/straight.el/
/straight/repos/swiper/
/straight/repos/toc-org/
/straight/repos/transient/
/straight/repos/undo-tree/
/straight/repos/use-package/
/straight/repos/with-editor/
/straight/repos/yafolding.el/
/straight/repos/yasnippet/
/straight/repos/zoutline/
/straight/build/
/elpa/
/tmp/
/var/
/main.el
/straight/repos/company-statistics/
/straight/repos/emacs-fish-completion/
/straight/repos/eshell-fringe-status/
/straight/repos/hexrgb/
/straight/repos/macrostep/
/main.org.rej
/straight/repos/magit-todos/
/straight/repos/pcre2el/
/straight/repos/ivy-rich/
/straight/repos/org-ql/
/straight/repos/php-mode/
/straight/repos/evil-magit/
/etc/clipmon-ignore
/straight/repos/org-protocol-capture-html/
/straight/repos/org-habit-plus/
/straight/repos/origami.el/
/straight/repos/org-pomodoro/
/straight/repos/log4e/
/straight/repos/gntp.el/
/straight/repos/alert/
/straight/repos/ruby-complexity/
/straight/modified/swiper
/etc/custom.el
/auto-save-list/*
